MODEL_ISSUE_DIR=./models/issue_classifier_roberta
MODEL_URGENCY_DIR=./models/urgency_classifier/checkpoints/checkpoint-876
MODEL_SUMM_DIR=facebook/bart-large-cnn
WHISPER_MODEL=openai/whisper-small
MODEL_TREATMENT_DIR=./models/treatment_recommender
