fastapi
uvicorn
python-multipart
torch
transformers<5
numpy<2
librosa
soundfile
audioread
soxr
pillow
opencv-python
pydantic
python-dotenv
pydub
scikit-learn
joblib
protobuf>=4.25,<5
tensorflow==2.17.1
tensorflow-intel==2.17.1
