PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/autism_support
JWT_SECRET=supersecret123
AI_URL=http://localhost:8000/analyze-voice
AI_TEXT_URL=http://localhost:8000/analyze-text
AI_SERVICE_URL=http://localhost:8000
